@using StatTrackerGlobal.Shared
@using Fluxor
@using StatTrackerGlobal.App.ViewModels
@using StatTrackerGlobal.Client.Store
@using System.Collections.Immutable
@using static StatTrackerGlobal.App.ViewModels.SetOverviewViewModel

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<ViewState> ViewState
@inject IDispatcher Dispatcher

@if (this.isShowing) {
    <h3 align="center">Stats for @SetPlayer.FirstName @SetPlayer.LastName</h3>
@if (@SetPlayer.Position == "Libero" || @SetPlayer.Position == "Defensive Specialist")
{
    <table align="center">
        <tr align="center">
            <th>Digs</th>
            <th>Ball Touched</th>
            <th>Ball Missed</th>
        </tr>
        <tr align="center">
            <td>@SetPlayer.PassStats.Digs</td>
            <td>@SetPlayer.PassStats.BallTouches</td>
            <td>@SetPlayer.PassStats.BallMisses</td>
        </tr>
        <tr align="center">
            <td>
                <button class="btn btn-primary" @onclick="IncrementDigs">+</button>
                <button class="btn btn-primary" @onclick="DecrementDigs">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementBallTouches">+</button>
                <button class="btn btn-primary" @onclick="DecrementBallTouches">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementBallMisses">+</button>
                <button class="btn btn-primary" @onclick="DecrementBallMisses">-</button>
            </td>
        </tr>
        <tr align="center">
            <th>Serves Made</th>
            <th>Serves Missed</th>
            <th>Aces</th>
        </tr>
        <tr align="center">
            <td>@SetPlayer.ServeStats.ServesMade</td>
            <td>@SetPlayer.ServeStats.ServesMissed</td>
            <td>@SetPlayer.ServeStats.Aces</td>
        </tr>
        <tr align="center">
            <td>
                <button class="btn btn-primary" @onclick="IncrementServesMade">+</button>
                <button class="btn btn-primary" @onclick="DecrementServesMade">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementServesMissed">+</button>
                <button class="btn btn-primary" @onclick="DecrementServesMissed">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementAces">+</button>
                <button class="btn btn-primary" @onclick="DecrementAces">-</button>
            </td>
        </tr>
    </table>
}
else
{
    <table align="center">
        <tr align="center">
            <th>Kills</th>
            <th>Attack Errors</th>
            <th>Attack Attempts</th>
        </tr>
        <tr align="center">
            <td>@SetPlayer.AttackStats.Kills</td>
            <td>@SetPlayer.AttackStats.Attempts</td>
            <td>@SetPlayer.AttackStats.Errors</td>
        </tr>
        <tr align="center">
            <td>
                <button class="btn btn-primary" @onclick="IncrementKills">+</button>
                <button class="btn btn-primary" @onclick="DecrementKills">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementAttempts">+</button>
                <button class="btn btn-primary" @onclick="DecrementAttempts">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementErrors">+</button>
                <button class="btn btn-primary" @onclick="DecrementErrors">-</button>
            </td>
        </tr>
        <tr align="center">
            <th>Digs</th>
            <th>Ball Touched</th>
            <th>Ball Missed</th>
        </tr>
        <tr align="center">
            <td>@SetPlayer.PassStats.Digs</td>
            <td>@SetPlayer.PassStats.BallTouches</td>
            <td>@SetPlayer.PassStats.BallMisses</td>
        </tr>
        <tr align="center">
            <td>
                <button class="btn btn-primary" @onclick="IncrementDigs">+</button>
                <button class="btn btn-primary" @onclick="DecrementDigs">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementBallTouches">+</button>
                <button class="btn btn-primary" @onclick="DecrementBallTouches">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementBallMisses">+</button>
                <button class="btn btn-primary" @onclick="DecrementBallTouches">-</button>
            </td>
        </tr>
        <tr align="center">
            <th>Kill Blocks</th>
            <th>Block Touches</th>
            <th>Block Errors</th>
        </tr>
        <tr align="center">
            <td>@SetPlayer.BlockStats.KillBlocks</td>
            <td>@SetPlayer.BlockStats.Touches</td>
            <td>@SetPlayer.BlockStats.BlockErrors</td>
        </tr>
        <tr align="center">
            <td>
                <button class="btn btn-primary" @onclick="IncrementKillBlocks">+</button>
                <button class="btn btn-primary" @onclick="DecrementKillBlocks">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementTouches">+</button>
                <button class="btn btn-primary" @onclick="DecrementTouches">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementBlockErrors">+</button>
                <button class="btn btn-primary" @onclick="DecrementBlockErrors">-</button>
            </td>
        </tr>
        <tr align="center">
            <th>Serves Made</th>
            <th>Serves Missed</th>
            <th>Aces</th>
        </tr>
        <tr align="center">
            <td>@SetPlayer.ServeStats.ServesMade</td>
            <td>@SetPlayer.ServeStats.ServesMissed</td>
            <td>@SetPlayer.ServeStats.Aces</td>
        </tr>
        <tr align="center">
            <td>
                <button class="btn btn-primary" @onclick="IncrementServesMade">+</button>
                <button class="btn btn-primary" @onclick="DecrementServesMade">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementServesMissed">+</button>
                <button class="btn btn-primary" @onclick="DecrementServesMissed">-</button>
            </td>
            <td>
                <button class="btn btn-primary" @onclick="IncrementAces">+</button>
                <button class="btn btn-primary" @onclick="DecrementAces">-</button>
            </td>
        </tr>
    </table>
}
}
@code {
}
